@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Borel', cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  cursor: default;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
}

#nav {
  padding: 40px;
}

.rounded-corners {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 30px;
  border-color: #00bfbc;
}

#app {
  width: 40vw;
  height: 350px;
  max-width: 1280px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.outer-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex: 1;
}

.inner-vertical {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.tower {
  background-color: #242424;
  flex: 1;
  margin: 10px;
}

.ring {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.87);
  height: 40px;
  margin-bottom: 15px;
}

.fade-in {
  animation: fadeIn 0.6s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 1;
    background-color: #00bfbc;
  }

  to {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.87);
  }
}

.size0 {
  min-width: 100%;
}
.size1 {
  min-width: 80%;
}

.size2 {
  min-width: 60%;
}
.size3 {
  min-width: 40%;
}
.size4 {
  min-width: 20%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 2.5em;
  font-family: inherit;
  background-color: #242424;
  transition: border-color 0.25s;
}

.active:hover {
  color: #00bfbc;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 10px;
  color: #4e4e4e;
  /* background-color: #f0f0f0; */
  position: fixed; /* Use "fixed" position */
  bottom: 0; /* Push the footer to the bottom */
  width: 100%; /* Make the footer span the entire width */
}

p {
  transition: font-size 0.3s ease-in-out;
}

p:hover {
  font-size: larger;
}

a {
  color: #4e4e4e;
}
a:hover {
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
